/* ROOTS */
:root {
    /* pallete */
    /* body */
    --clr0: #1f161feb;
    /* header links */
    --clr1: #efeeed;
    /* btn */
    --clr2: #e8e8e8;
    --clr3: #b4b4b4;


}


/* TYPOHGRAPHY */

/* @font-face {
    font-family: i;
    src: url(../css/fonts/impact/impact.ttf);
} */

@font-face {
    font-family: montserrat;
    src: url(../css/fonts/montserrat/Montserrat-regular.ttf);
}

@font-face {
    font-family: fa;
    src: url(../css/fonts/font-awsome/fa-brands-400.ttf);
}

@font-face {
    font-family: kalam;
    src: url(../css/fonts/Kalam/Kalam-Bold.ttf);
}

@font-face {
    font-family: martin;
    src: url(../css/fonts/Martian_Mono/MartianMono-Bold.ttf);
}

.fa::before {
    font-family: fa;
    font-size: 30px;
}

.fa.facebook::before {
    content: "\f39e";
}

.fa.linkedin::before {
    content: "\f0e1";
}



/* BASICS */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: montserrat, sans-serif;
    /* background-color: #1f161feb; */
    background-color: var(--clr0);

}

img {
    width: 100%;
}

.btn {
    cursor: pointer;
    background-color: var(--clr2);
    border-radius: 10px;
    border: none;
    box-shadow: #000000b5 0px 1px 7px 0px;
    font-size: 1em;
}

.icon {
    width: 30px;
    height: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.hide {
    display: none;
}

.main-layout>*:not(.full) {
    max-width: 1125px;
    margin-inline-start: 4em;

}

/* HEADER */
.main-header {
    padding-top: 10px;
    /* background-color: rgb(68, 24, 68); */
    background-image: linear-gradient(16deg, #441844, #ef4700d9);
    border-radius: 35px;
}

.main-nav li {
    margin-right: 15px;
    padding: 20px;
    color: var(--clr1);
    cursor: pointer;
    margin-inline-end: 50px;
}

.logo img {
    margin-inline-start: 70px;
    width: 20vw;
    height: 5vh;
    cursor: pointer;
}

/* ABOUT ME */

.me {
    margin-top: 50px;
    background-color: #4f364feb;
    /* background-image: linear-gradient(16deg,#a384a3, #e29c7ed9); */
    box-shadow: inset 1px 0px 4px 2px rgb(0 0 0 / 45%);
}


.desc {
    color: var(--clr3);
}

.me-img {
    height: 15em;
    width: 15em;
    border-radius: 50%;
    margin: 30px;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    justify-self: right;
}

.about-description {
    max-width: 30rem;
    align-self: end;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.social-buttons a {
    /* background-color: var(--clr3); */
    border-radius: 50px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-size: 1em;
}

/* GALLERY */

.gallery-img {
    border-radius: 8px;
    height: 160px;
    width: 160px;
    cursor: pointer;
    transition: .4s;
}

.gallery-img:hover {
    border: inset 3px rgba(131, 131, 131, 0.272);
}

.gallery-grid {
    width: 90vw;
    margin-top: 30px;
    grid-template-columns: repeat(auto-fit, 160px);
    grid-template-rows: repeat(2, 160px);
    gap: 10px;
    justify-content: center;
}

.editor-container {
    height: 90vh;
    display: none;
    padding: 10px;
    margin: 0 auto;
    justify-content: space-evenly;
    max-width: 800px;
    gap: 10px;
}

.search-box {
    padding: 10px;
    gap: 20px;
    justify-content: center;
}

.search {
    min-width: 22rem;
    height: 40px;
    background-color: #4f364feb;
    border-radius: 10px;
    color: var(--clr1);
    width: 100%;
    grid-column: 1 / 2;
}

.add-img {
    grid-column: 2 / 3;
    width: 100px;
    height: 40px;
    background-image: linear-gradient(16deg, #441844, rgba(239, 71, 0, 0.85));
    color: var(--clr1);

}

.searched-show {
    margin: 0 auto;
    background-color: var(--clr3);
    max-width: 50vw;
    justify-content: space-evenly;
    border-radius: 20px;
    color: var(--clr1);
    padding: 10px;
}

/* CANVAS */

canvas {
    box-shadow: 1px 0px 4px 2px rgba(0, 0, 0, 0.451);
    background-color: var(--clr2);
    height: 450px;
    width: 450px;
    border-radius: 8px;
}

.control-box {
    box-shadow: 1px 0px 4px 2px rgba(0, 0, 0, 0.451);
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 20px;
    justify-items: center;
    width: 50%;
    grid-template-areas:
        "text-editor"
        "btns-editor"
        "style-editor"
        "meme-options"
    ;
    grid-template-columns: max-content;
    height: 28em;
}

.btns-editor {
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 40px;
    row-gap: 20px;
    gap: 10px;
    grid-template-areas:
        "add delete switch select-font"
        /* "select-font select-font select-font" */
    ;
}

.style-editor {
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(2, 40px);
    gap: 10px;
    padding: 20px;
    justify-items: center;
    background-color: #ef4700d9;
    border-radius: 10px;
    max-height: 130px;
}

.select-fonts {
    background-color: var(--clr2);
    border-radius: 8px;
    font-size: 15px;
    width: 100%;
}

.text-editor {
    background-color: var(--clr2);
    border-radius: 8px;
    width: 100%;
    height: 60px;
}

/* FOOTER */

footer {
    background-color: var(--clr0);
    text-align: center;
    color: var(--clr3);
}

/* HELPERS */

/* grid helpers */

.grid {
    display: grid;
}

/* flex helpers */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (min-width: 500px) {
    body {
        margin: 0;
    }

    .gallery-img {
        height: 160px;
        width: 160px;
    }

    .gallery-grid {
        width: 90vw;
    }

}

@media (max-width: 550px) {
    .main-layout>*:not(.full) {
        /* margin: 0; */
        max-width: 600px;
        margin-inline-start: auto;
    }

    .gallery-img {
        width: 100px;
        height: 100px;
    }

    .gallery-grid {
        grid-template-columns: repeat(auto-fit, 100px);
        grid-template-rows: repeat(2, 100px);
        gap: 10px;
        /* color: #ffffff81; */
    }


    .searched-show {
        max-width: 100vw;
    }

    .canvas {
        width: 300px;
        height: 300px;
    }

    .editor-container {
        align-items: center;
        flex-direction: column;
        width: 100px;
        margin-top: 60px;
    }

    .control-box {
        gap: 10px;
        min-width: 60vw;
        align-self: center;
    }

    .me-img {
        height: 10em;
        width: 10em;
    }

    footer {
        margin-top: 40px;
    }
}